

* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Concert One', cursive;
    margin: 0;
    padding: 0;
    background-color: #502944;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;

}


main {
    margin-top: 2rem;
    border:10px solid #e382db;
    box-shadow: 0px 0px 16px 4px white;
    border-radius: 100px;
    margin-left: 200px;
    margin-right: 200px;

    display: flex;
    flex-direction: column;

    scale: 0.7;
    
}

main h1 {
    text-align: center;
    color: #e7adcb;
    font-size: 6rem;
    line-height: 100px;
    
}

main .login-input {
    
    align-items: flex-start;

    justify-content: space-around;
    font-size: 3rem;
    line-height: 5rem;

    margin-bottom: 0;
}



main .login-input input {
    font-size: 2.5rem;

}

main .login-input #inputEmail {
    width: 30rem;
    margin-left: 100px;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.414);
    box-shadow: 0px 0px 8px 2px white;
    border-radius: 10px;
    border-color: transparent;
    font-family: 'Concert One', cursive;
    color: pink
}
main .login-input #inputPassword {
    width: 30rem;
    margin-left:25px;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.414);
    box-shadow: 0px 0px 8px 2px white;
    border-radius: 10px;
    border-color: transparent;
    font-family: 'Concert One', cursive;
    color: pink
}
main .login-input  #inputEmail:hover {
    box-shadow: 0px 0px 16px 4px white;

}
main .login-input #inputPassword:hover {
    box-shadow: 0px 0px 16px 4px white;

}

main .login-input button {
    line-height: 3rem;
    list-style-type: none;
    color: #EFE1D1;
    background-color: transparent;
    border-color: transparent;
    border-radius: 200px;
    font-size: 2.5rem;
    font-family: 'Concert One', cursive;
}

main .login-input button:hover {
    scale: 1.1;
    background-color: white;
    color: rgb(120, 61, 71);
}

main p {
    margin: 5 0 15px 0;
    font-size: 1.5rem;
}

.loading-container {
    display: none;
    flex-direction: column; 
    align-items: center;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    
}
.loading-container p {
    font-style:oblique;
    color: white;
}
i {
    font-size: 10rem;
    display: flex;
    color: white;
     animation: rotation 3s infinite linear;
  }
  
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1000deg);
    }
  }



.failed-container {

    width: 12rem;
    line-height: 2px;


    position: fixed;
    vertical-align: middle;
    padding: 8px 32px;
    background-color: #5e5b5d;
    color: white;
    bottom: -100px;
    opacity: 0;
    text-transform: capitalize;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    transition: bottom ease-in-out 0.3s, opacity ease-in-out 0.3s;
}

.failed-container h3 {
    padding: 1px;

}

.failed-container p {
    font-size: 14px;
    margin-bottom: 15px;
}

.failed-container.display {
    bottom: 32px;
    opacity: 1;
}

@media screen and (max-width: 1298px) {

    main {
        display: flex;
        flex-direction: column;
        scale: 1.25;
    }


    main .login-input #inputEmail {
        margin-left: 0;
    }
    main .login-input #inputPassword {
        margin-left: 0;
    }

    .failed-container {
        scale: 2.5;
    }

    .failed-container.display {
        bottom: 200px;
        opacity: 1;
    }

}

@media screen and (max-width: 1000px) {
    html {
        margin-top:30rem;
    }

}
